<!DOCTYPE html>
<html lang="fr">
    <%- include('./includes/head', {title: "Home - Pharmat", style: "home"}); %>
    <body>
        <%- include('./includes/messages'); %>
        <main>
            <h2 class="welcomePhrase"><%= welcomePhrase %></h2>

            <p class="motivationnalPhrase"><%= motivationalPhrase %></p>

            <a class="logout" href="/logout">Déconnexion</a>
        </main>
        <%- include('./includes/nav'); %>
        
    </body>
</html>
